$color-blue-darken: #006b99;
//$color-blue-darken: #406fa5;
$color-blue-lighten: #3ec4ff;
$color-blue: #4f8ca5;

$color-orange-lighten: rgb(250, 168, 49);
$color-orange: #ff8200;

$color-yellow-lighten: #f1ef91;

$color-gray-lighten: #acacac;

$color-green-lighten: rgb(11, 176, 0);

$color-text: #2c2c2c;
$color-text-secundary: #828282;

$color-red-1: #db203b;
$color-red-2: #9a1729;
$color-red-3: #7C1321;

$color-background-navigation: transparent;
$color-background-navigation-2: rgba(255,255,255,1);

$font-family-general: "Roboto", Arial, sans-serif;

$box-shadow-general: 1px 1px 2px #ccc;

$global-gutter: 15px; //0.9375rem
$global-radius: 5px;