@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-play:before {
	content: "\e001";
}
.icon-wordpress:before {
	content: "\e008";
}
.icon-twitter:before {
	content: "\e00a";
}
.icon-facebook:before {
	content: "\e00b";
}
.icon-html5:before {
	content: "\e00c";
}
.icon-file-excel:before {
	content: "\e00d";
}
.icon-file-word:before {
	content: "\e00e";
}
.icon-file-pdf:before {
	content: "\e00f";
}
.icon-pencil:before {
	content: "\e010";
}
.icon-file:before {
	content: "\e000";
}
.icon-phone:before {
	content: "\e003";
}
.icon-mail:before {
	content: "\e004";
}
.icon-calendar:before {
	content: "\e005";
}
.icon-book:before {
	content: "\e006";
}
.icon-file-powerpoint:before {
	content: "\e007";
}
.icon-locked:before {
	content: "\e009";
}
.icon-clock:before {
	content: "\e002";
}
.icon-location:before {
	content: "\e011";
}
.icon-mobile:before {
	content: "\e012";
}
