.searchform{
    input{
        background: darken($color-red-2, 10%);
        border-color: transparent;
        border-radius: $global-radius;
        color: #fff;
    }
    
    input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus{
        background: darken($color-red-2, 10%);
    }
    
    
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    :-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7);
        opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7);
    }   
}